<section aria-hidden="true" class="o-overlay js-overlay animated" id="overlay-search">

  <div class="o-container-med">

    <div class="u-bottom-spacing">
      {% include 'partials/search-form.twig' %}
    </div>
  </div> 
  <div class="u-top-spacing-small text-center">
		<button href="#search" data-toggle="overlay-search" data-toggle-class="fadeInDown" class="show-for-keyboard o-navigation__nav-link keybord_search_close">{{__('Close Search', 'WNYC')}}</button>
	</div>

</section>