<div class="input o-search__input rounded" style="max-width: var(--nyco-dimension-content-width)">
    <input class="rounded border-0" data-js="search__input" tabindex="-1" inputmode="search" name="s" placeholder="Search" value="{{ s }}"></input>
    <button type="submit" tabindex="-1" class="o-search__submit">
        <svg class="icon-ui">
            <title>{{__('Submit', 'WNYC')}}</title>
        <use href="#lucide-search"></use>
    </svg>
    </button>
</div>