<form role="search" method="get" class="search-form" action="/">
    <input type="search" name="s" placeholder="Search" value="{{ s }}"></input>
    <button type="submit" class="search-submit">Submit</button>
</form>
