<div class="layout-content pb-2 sticky z-10 o-navigation-feedback-spacing-bottom pointer-events-none">
  <div class="wrap text-end">
    <a class="btn btn-small tablet:btn btn-secondary pointer-events-auto" href="#page-heading">{{ __('Back to top', 'WNYC') }}</a>
  </div>
</div>