@media screen and (min-width:1112px) { 
    .language-list ul {
      list-style-type: none;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
    .language-list li {
        margin-right: 40px;
    }
}

.language-list ul {
    list-style-type: none;
    padding-left: 0;
}

.language-list li {
    font-weight: 500;
    text-decoration: none;
    color: #080707;
}

.language-list a {
    font-weight: 500;
    text-decoration: none;
    color: #080707;
    border-bottom: 2px solid transparent;
}

.language-list a:hover {
    border-bottom: 2px solid #080707;
}
