{# @Type   View #}
{# @For    Post Type #}
{# @Class  timber-posts/Guides.php #}
{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-scale-1">
    {# Header Section #}
    <div class="bg-[#E3F1FD]">
      <header class="site-max-width desktop:py-7 tablet:py-6 py-5">
        <div class="w-full">
          {% include 'components/breadcrumbs.twig' with {
              crumbs: [
                {
                  'label': post.title,
                  'link': ''
                }
              ]
            } %}

          <div class="desktop:mt-6 mt-3 tablet:mb-2 desktop:mb-3 mb-1">
            <h1 id="page-heading" class="text-[40px] tablet:text-[50px] desktop:text-[55px] font-[600]">{{ post.title }}</h1>
          </div>
          {{ post.post_content }}
        </div>
      </header>
    </div>

    <div class="bg-scale-0" id="explore">
      <div class="pb-8 mb-8">
        <div class="py-4">
          {% if collections %}
          {% for collection in collections %}
          {% include collection.template with {this: collection, is_home: false} only %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    {% if show_newsletter is not defined %}
    {% include 'objects/newsletter.twig' %}
    {% endif %}
  </main>
</div>
{% endblock %}