{# @Type   View #}
{# @For    Post Type #}
{# @Class  timber-posts/Guides.php #}
{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-scale-1">
    {# Header Section #}
    <div class="site-max-width">
      <header class="o-header px-0">
        <div class="w-full">
          {% include 'components/breadcrumbs.twig' with {
              crumbs: [
                {
                  'label': post.title,
                  'link': ''
                }
              ]
            } %}

          <div class="o-header__title">
            {% if post.icon %}
            <svg class="o-header__icon text-blue-d-1 fill-blue-l-1" role="img">
              <title>{{ post.icon.name }}</title>

              <use href="#program-card-{{ post.icon.slug }}"></use>
            </svg>
            {% endif %}

            <h1 id="page-heading" class="o-header__heading">{{ post.title }}</h1>
          </div>
          {{ post.post_content }}
        </div>
      </header>
    </div>

    <div class="bg-scale-0" id="explore">
      <div class="pb-8 mb-8">
        <div class="py-4">
          {% if collections %}
          {% for collection in collections %}
          {% include collection.template with {this: collection} only %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    {% if show_newsletter is not defined %}
    {% include 'objects/newsletter.twig' %}
    {% endif %}
  </main>
</div>
{% endblock %}