<section class="pt-2 z-10 sticky o-navigation-spacing-bottom" data-js="feedback">
  <div class="layout-content bg-scale-2">
    <div class="tablet:px-3 tablet:py-2">
      <article class="c-alert color-status-primary" data-js="alert-warning">
        <div class="c-alert__graphic py-1 ps-1 me-1">
          <svg aria-hidden="true" class="icon-wnyc-ui">
            <use xlink:href="#help-circle"></use>
          </svg>
        </div>

        <div class="c-alert__body py-2 pe-2">
          <p data-js-alert="text" class="small">

            How can we improve this website? Let us know by
            {{ fn('do_shortcode', '[wnyc-airtable-link url="https://airtable.com/shrfQGpXvo9mmmHpJ" text="sending us feedback" device="Your device" browser="Your browser" lang="Your preferred language" class="btn btn-text btn-small text-inherit underline"]') }}
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
