<section class="layout-content z-10 sticky o-navigation-spacing-bottom" data-js="feedback">
  <div class="p-2 text-end">
    {{ fn('do_shortcode', '[wnyc-airtable-link url="https://airtable.com/shrfQGpXvo9mmmHpJ" text="Feedback" device="Your device" browser="Your browser" lang="Your preferred language" class="btn btn-small tablet:btn btn-primary bg-scale-1"]') }}
  </div>
</section>