<div id="ie-warning" class="page-max wrap pt-3 hidden" aria-hidden="true">
  <article class="c-alert color-status-primary mb-5" data-js="alert-info">
    <div class="c-alert__graphic">
      <svg aria-hidden="true" class="icon-ui">
        <use href="#info"></use>
      </svg>
    </div>

    <div class="c-alert__body">
      <p data-js-alert="text">
        {{ options.internet_explorer}}
      </p>
    </div>
  </article>
</div>