<div class="hidden fixed py-1 desktop:py-4 px-2 z-10 desktop:w-screen desktop:left-0 bg-white my-[60px]" id="aria-c-text-controller">
  <div class="hidden desktop:block desktop:float-left desktop:mr-8">
    <span class="h4">{{ __('Select your language', 'WNYC - Navigation') }}</span>
  </div>
  <div class="notranslate language-list-no-bullet">
    {% do action('wpml_add_language_selector') %}
  </div>
  <span class="sr-only">{{ __('Powered by Google Translate', 'WNYC - Navigation') }}</span>
</div>