<section class="o-newsletter flex justify-center py-6 relative z-10" data-js="newsletter">
  <div class="w-full py-4 site-max-width tablet:py-3">
    <h4 class="o-newsletter__heading">{{ __('Newsletter', 'WNYC-Newsletter') }}</h4>

    <form action="{{ newsletter_link }}/#content" id="mc-embedded-subscribe-form" method="post" novalidate="true">
      <div class="c-question-single" id="a348d8b2ae03">
        <label class="c-question__label" for="EMAIL"><p>{{options.newsletter_description}}</p></label>

        <div class="c-question__container">
          <div class="c-question__input desktop:w-[600px]">
            <div class="input">
              <input id="question-a348d8b2ae03" name="EMAIL" placeholder="Enter your email" required="true" type="email">
            </div>

            <div class="c-question__button">
              <button class="btn btn-primary btn-small" type="submit">{{ __('Submit', 'WNYC-Newsletter') }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
