font {
  pointer-events: none;
}

a {
  pointer-events: all;
}

.goog-te-banner-frame {
  position: relative !important;
  box-shadow: none !important;
  display: block
}

body {
  position: static !important;
  min-height: auto !important;
  top: auto !important
}
