{# @Type   View #}
{# @For    Post Type #}
{# @Class  timber-posts/EmployerPrograms.php #}
{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-scale-1" id="content">

    <div class="layout-content">
      <header class="o-header">
        <div class="w-full">

          <div class="o-header__title">
            <h1 id="page-heading" class="o-header__heading">{{ 'Placeholder title' }}</h1>
          </div>

          <h2 class="o-header__subtitle">
            <b>{{ post.employer_program_title }}</b> 
          </h2>
  </main>
</div>
{% endblock %}

