
/**
 * Asset Paths and CDN
 */

// This is the path to your asset folders. Uncomment and set to override the
// default. By default, it is set to look for assets one director up from the
// distributed stylesheet '../' ex;
//
// $cdn: 'path/to/assets/';

// The CDN can be set to another local path, or, it can be set to the 'cdn'
// within the $tokens map. This default uses jsDelivr to pull the assets
// from the patterns GitHub repository and the tag of the installed version. ex;
//
// @use 'config/tokens' as *;
// $cdn: map-get($tokens, 'cdn');

// These are the default paths to the different asset types within the asset
// folder. Uncomment and set to override their defaults.
//
// $path-to-fonts: 'fonts/';
// $path-to-images: 'images/';
// $path-to-svg: 'svg/';

/**
 * Fonts
 */

// If @font-face is used it needs to be imported before all other declarations.

@forward '@nycopportunity/working-patterns/src/utilities/fonts/fonts';

/**
 * External Dependencies
 */

// Any external dependency can be included here. It may also make sense to
// include it within specific component and object styles if it is a dependency.
// Be sure to add 'node_modules' to your include paths if you are using npm to
// manage dependencies (recommended). Dependency examples include Bootstrap,
// Material Components Web, etc.

// @use 'node_modules/...';

/**
 * Main
 */

@forward 'tokens';

@forward '@nycopportunity/working-patterns/src/scss/elements';
@forward '@nycopportunity/working-patterns/src/scss/components';
@forward '@nycopportunity/working-patterns/src/scss/objects';

/**
 * Base elements that need to be included after other patterns to take effect
 */

@forward '@nycopportunity/working-patterns/src/scss/utilities';

@forward '@nycopportunity/working-patterns/src/elements/base/first-last';
