
:root {
  --o-navigation-z-index: 40;
  --o-menu-z-index: 40;
  --nyco-dimension-scroll-peek-column-width: 86%;
}

@media (min-width: 768px) {
  :root {
    --o-navigation-position: relative;
    --o-navigation-z-index: 40;
    --o-menu-z-index: 40;
  }
}
