/************
 * Language
 ************/

// Setting the language code will override the default language setting which is
// a blank string (""). Certain languages will change variables in the stylesheets,
// specifically the direction of the language. Available languages within this
// stylesheet include Arabic (ar), Spanish (es), Korean (ko), Urdu (ur), and
// Chinese (tc).

@forward 'imports'; // with ($language: '');

[tabindex='0'],
[tabindex='-1'] {
  &:focus {
    outline: 0 solid transparent;
    outline-offset: var(--wnyc-focus-gap);
    outline-color: var(--wnyc-focus);
    outline-width: var(--wnyc-focus-width);
  }
}
