/**
 * Margins
 */

// Creating classes as copies of the tailwind classes because some imports aren't working
@media screen and (min-width:1112px) { 
    .desktop-py-121 {
      padding-top: 121px;
      padding-bottom: 121px;
    }
    .desktop-mx-50 {
      margin-left: 200px!important;
      margin-right: 200px!important;
    }

    .desktop-mx-26 {
      margin-left: 104px!important;
      margin-right: 104px!important;
    }

    .desktop-gap-x-72 {
      column-gap: 72px!important;
    }

    .desktop-height-214 {
      height: 214px;
    }
}
@media screen and (min-width: 768px) and (max-width:1112px) {
  .tablet-py-48 {
      padding-top: 48px;
      padding-bottom: 48px;
  }
  .tablet-mx-14 {
    margin-left: 56px!important;
    margin-right: 56px!important;
  }

  .tablet-gap-x-56 {
    column-gap: 56px!important;
  }

  .tablet-height-258 {
    height: 258px;
  }
}

.site-max-width {
  max-width: var(--nyco-dimension-site-max-width);
}

/*Carousal css*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
@media screen and (min-width:1112px) { 
  .carousel-container {
    width: 100%;
    position: relative;
  }
}
@media (max-width: 768px) {
  .carousel-container {
    width: 95%;
  }
}
.inner-carousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.track {
  display: inline-flex;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.card-container {
  width: 275px;
  height: 400px;
  flex-shrink: 0;
  padding-right: 10px;
}
@media (max-width: 768px) {
  .card-container {
    width: 184px;
  }
}

