/**
 * Margins
 */

// Creating this class as a copy of the tailwind class because the import isn't working
.mx-28 {
  margin-left: 8rem; /* 128px */
  margin-right: 8rem; /* 128px */
}
.ml-95 {
  margin-left: 95px;
}
.px-7{
  padding-left: 56px;
  padding-right: 56px;
}
.px-26 {
  padding-left: 104px;
  padding-right: 104px;
}
.py-5{
  padding-top: 40px;
  padding-bottom: 40px;
}
.bgcolor-white {
  background-color: #FFFFFF;
}
.center-align {
  align-items: center;
  display: flex;
}
@media screen and (min-width:1112px) { 
  .desktop-width-570 {
    width: 570px;
  }
  .desktop-font-size-55{
    font-size: 55px;
  }
  .desktop-font-size-20{
    font-size: 20px;
  }
  .desktop-font-size-13{
    font-size: 13px;
  }
  .desktop-gap-x-72 {
    column-gap: 72px;
  }
  .desktop-px-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .desktop-nav-border{
    border-top: 4px solid #2D3282;
  }
}
@media screen and (min-width: 768px) and (max-width:1112px) {
  .tablet-width-366 {
    width: 366px;
  }
  .tablet-width-300 {
    width: 300px;
  }
  .tablet-font-size-55{
    font-size: 55px;
  }
  .tablet-font-size-20{
    font-size: 20px;
  }
  .tablet-gap-x-56 {
    column-gap: 56px;
  }
  .desktop-nav-border{
    border-top: 4px solid #2D3282;
  }
}
@media screen and (max-width: 480px) {
  .mobile-width-360 {
    width: 360px;
  }
  .mobile-font-size-50{
    font-size: 50px;
  }
  .mobile-font-size-18{
    font-size: 18px;
  }
  .desktop-nav-border{
    border-top: 4px solid #2D3282;
  }
  .mobile-font-size-13 {
    font-size: 13px;
  }
}
