{% extends "list.twig" %}

{% block head_extras %}
<style>
  .c-hero { background-color: #469BFF; }
</style>
{% endblock %}

{% block hero %}
<header class="c-hero u-lg-gutter">
  <div class="o-container-med">
    <h1 class="show-for-screen-reader">{{__('Search Results', 'WNYC')}}</h1>
  </div>
</header>
{% endblock %}