{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-scale-0" id="content">
    {# Header Section #}
    <div class="site-max-width">
      <header class="o-header px-0">
        <div>
          {% include 'components/breadcrumbs.twig' with
            {
              crumbs: [
                {
                  'label': post.title,
                  'link': ''
                }
              ]
            }
          %}

          <h1 id="page-heading" class="o-header__title">{% if function('is_404') %}{{ __('Page Not Found', 'WNYC') }}{% else %}{{ post.title }}{% endif %}</h1>
        </div>
      </header>
    </div>

    {% if sitemap %}
    <section class="bg-scale-2 clearfix">
      <div class="site-max-width pt-utility-anchor pb-8 mb-8">
        <div class="py-4 wrap">
         {% include 'sitemap.twig'%}
        </div>
      </div>
    </section>
    {% elseif post.content %}
    <section class="bg-scale-2 clearfix">
      <div class="site-max-width pt-utility-anchor pb-8 mb-8">
        <div class="py-4 wrap">
          {{ post.content }}
        </div>
      </div>
    </section>{% endif %}

    {% if show_newsletter is not defined %}
    {% include 'objects/newsletter.twig' %}
    {% endif %}
  </main>
</div>
{% endblock %}