{% extends "base.twig" %}

{% block content %}
<div class="bg-scale-2">
  <main class="bg-scale-1" id="content">
    <div class="layout-content sticky top-0 bg-scale-1 z-10">
      {% include ['components/utility-nav.twig'] with {
        return: {
          'label': __('Home', 'WNYC'),
          'link': '/'
        },
        web_share: {
          'title': post.title,
          'text': (post.web_share_text) ? post.web_share_text,
          'url': fn('wp_get_shortlink')
        }
      } %}
    </div>

    {# Header Section #}
    <div class="layout-content">
      <header class="o-header">
        <div>
          {% include 'components/breadcrumbs.twig' with
            {
              crumbs: [
                {
                  'label': post.title,
                  'link': ''
                }
              ]
            }
          %}

          <h1 class="o-header__title">{% if function('is_404') %}{{ __('Page Not Found', 'WNYC') }}{% else %}{{ post.title }}{% endif %}</h1>
        </div>
      </header>
    </div>

    {% if sitemap %}<section class="bg-scale-2 layout-content">
      <div class="py-4 wrap">
        {% include 'sitemap.twig'%}
      </div>
    </section>
    {% elseif post.content %}
    <section class="bg-scale-2 layout-content">
      <div class="py-4 wrap">
        {{ post.content }}
      </div>
    </section>{% endif %}

    {% if options.feedback is defined %}
    {% include 'objects/feedback.twig' %}
    {% endif %}

    {% if show_newsletter is not defined %}
    {% include 'objects/newsletter.twig' %}
    {% endif %}
  </main>
</div>
{% endblock %}